@import "tailwindcss";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  padding: 0 !important;
  margin: 0 !important;
}

@font-face {
  font-family: "Roobert";
  src: url("/src/assets/fonts/RoobertCollectionVF-TRIAL.woff2")
    format("woff2-variations");
  font-weight: 200 900; /* range of supported weights */
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-roobert: "Roobert", sans-serif;
  --font-inter: "Inter Variable", sans-serif;
  --color-background: #fafaf9;
  --color-primary: #3ba6f1;
  --color-accent-blue: #e7f2f8;
  --color-heading-blue: #236796;
  --color-secondary: #edeceb;
  --color-text-muted: #78726d;
}
